body {
  background-color:#42aaf0
}

.row1 {
  color:black;
  padding:50px;
  
  text-align:center;
  border:10px solid black;

}

.row2 {
  padding:50px;
  margin:20px;
  text-align:center;
}

#col1 {
  border:10px solid black; 
}

#col2 {
  border:10px solid black;
}

#homeValuation, #propertyDetails, #vacancy, #homeFlips, #interestRates, #mortageRates, #postings {
  margin:16.1px;
}