.row1 {
  color:red;
  padding:50px;
  margin:50px;
  text-align:center;
  border:10px solid black;

}

.row2 {
  color:red;
  padding:50px;
  margin:50px;
  text-align:center;

}

#col1 {
  border:10px solid black; 
}

#col2 {
  border:10px solid black;
}